.bg-occ{
    background-color: #084298 !important;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.total-count-card__number, .total-count-card__text{
  font-size: calc(1em + 0.5vmin) !important;
  color: #fff !important;
  }

  #header_bar{
    display: flex !important;
    position:relative !important;
    flex-wrap: wrap !important;
    align-items: center !important;
    justify-content: space-between !important;
    padding-top:calc(0.5rem + 0.3vmin)!important;
    padding-bottom:calc(0.5rem + 0.3vmin) !important;
  }
  .total-count-card{
    margin:0 !important;
  }
  .common-card__number--left, .common-card__number--right, .common-card__number, .common-card__text--left, .common-card__text--right {
  font-size: calc(1rem + 0.5vmin) !important;
  }
  .common-card-div{
    /*border: 0.9px solid black !important;*/
    border-radius: 3px !important ;
    padding: calc(0.5rem + 1vmin) !important;
    height:calc(20rem + 0.3vmin) !important;
    /* background: #BDDDF7 !important; */
  }
  .common-card{
    width: calc(15em + 10vmin) !important;
    padding: 1rem !important;
  }
.loader {
  border: 0.8rem solid #F3F3F3 ; /* Light grey */
  border-top: 0.8rem solid #3498DB; /* Blue */
  border-radius: 50%;
  width: 10rem !important;
  height: 10rem !important;
  animation: spin 2s linear infinite;
  margin: calc(0.61rem + 1vmin) calc(1.2rem + 1vmin);
}
